@{
    Layout = "~/Views/Shared/_NoHeader.cshtml";
}
@model ParentModel
}
<link href="~/css/profile.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/fc74be768b.js"
        crossorigin="anonymous"></script>
<header>
    <div class="pen">
        <i class="fa-solid fa-pen"></i>
    </div>
    <div class="banner-background">
        <img src="../image/j.jpg" alt="" />
    </div>
    <div class="user">
        <div class="avatar_user">
            <img src="~/@Model.Users[0].img_user" alt="" class="user-img" />
            <div class="upload-img">
                <button class="btnUpload">
                    <i class="fa-solid fa-camera"></i>
                    Upload
                </button>
            </div>
        </div>
        <div class="user-content">
            <h1 class="user-name">@Model.Users[0].username</h1>
            <p>đã tham gia ngày : 15/9/2003</p>
        </div>
    </div>
</header>
<div class="path">
    <h2><a href="/">Home / </a></h2>
    <h3><a href="#">Profile</a></h3>
</div>
<div class="inline"></div>
<!-- dashboard -->
<h1>My Cart</h1>

<table class="table" style="text-align:center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Đơn giá </th>
            <th scope="col">Số lượng </th>
            <th scope="col">Tổng giá </th>
        </tr>
    </thead>
    <tbody class="show">
        
       @*@{
            int index = 0;
       }
        @foreach(var i in Model.cards)
        {
            index++;
            <tr>
                <th scope="row">@index</th>
                <td>@i.name_product</td>
                <td><img style="width:100px" src="/@i.img_product" /></td>
                <td>@i.siglePrice</td>
                <td><input type="text" value="@i.quantity" /></td>
                <td>@i.total</td>
            </tr>
        }

    </tbody>*@
    <tfoot class="tfoot">
    </tfoot>
</table>
</div>
<!-- Form change -->
<div class="form_changeUser">
    <div class="overlay"></div>
    <form action="/Home/UpdateProfile" method="post" enctype="multipart/form-data">
        <div class="form_input-text">
            <label for="Url_img">Upload Img </label>
            <input type="file" name="Url_img" />
        </div>
        <div style="display:none" class="form_input-text">
            <label for="username">username</label>
            <input type="text"
                   placeholder="Your id_user"
                   name="id_user"
                   value=@Model.Users[0].id_user
                   readonly />
        </div>
        <div class="form_input-text">
            <label for="username">username</label>
            <input type="text"
                   placeholder="Your Username"
                   name="username"
                   value="" />
        </div>
        <div class="form_input-text">
            <label for="email">Email</label>
            <input type="email"
                   placeholder="Your Email"
                   name="email"
                   id="" />
        </div>
        <div class="form_input-text">
            <label for="bio">Bio</label>
            <textarea name="bio" id="" cols="80" rows="15"></textarea>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>
@section Scripts{
    <script>
        $.ajax({
            url: "/Home/GetCard",
            type: "GET",
            contentType: "application/json",
            beforeSend: function () {

            },
            success: function (res) {
                console.log(res)
                if (res && res.length > 0) {
                    for (var i = 0; i < res.length; i++) {
                        var view = res[i];
                        subtotal = view.sum
                        let show = `
                        <tr>
                                <th scope="row">${i}</th>
                            <td>${view.name_product}</td>
                            <td><img style="width:100px" src="/${view.img_product}" /></td>
                                <td>${view.siglePrice}</td>
                                <td><input type="text" data-id=${view.id_card} class="input-quantity"  value="${view.quantity}" /></td>
                                <td>${view.total}</td>
                                <td>
                        </tr>
                            `;
                        $('.show').append(show);
                    }
                    let count = ` <td style="text-align:start" colspan="5">Total = ${subtotal} <a class="btn btn-danger" href="/Home/CreateBuild">CheckOut</a></td>`
                    $(`tfoot`).append(count);
                }
            },
            error: function (err) {
                console.log(err)
            }

        })
        $(document).ready(function () {
            $('.input-quantity').change(function () {
                var id_card = $(this).data('id');
                var valueinput = $(this).val();
                console.log(id_card, valueinput);
                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateCard",
                    data: { id: id_card, quantity: valueinput },
                    success: function (result) {
                        //var total = `<p>Total <span class="sumtotal">${result[]}</span></p>`
                        console.log(result);
                        if (result > 0) {
                            console.log(location.reload())


                        }
                        /*$('.sumtotal').html(result[0].sum);*/
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })

            })
        })
    </script>

}
@*<script src="~/js/user.js"></script>*@
